$orange:#e8441d;
$orange-bg:#be3413;
$white:#e8e8e8;
$gray:#f5f5f5;
$smokewhite:#fefefe;
$graytext:#ababc0;
$smokeblack:#1c1a1b;
$yellowsmoke:rgba(22, 22, 21, 0.8);
$black:#2e2d2d;
$lightorange:#d1b3a8;
$footergray:#696969;
$fullblack:#000000;


$font-weights:(
  "regular":400,
  "medium":500,
  "bold":700
);

$font-size:(
  "xxs":12px,
  "xs":14px,
  "S":16px,
  "m":18px,
  "l":20px,
  "xl":22px,
  "xxl":32px,
  "xxxl":40px,
  "xxxxl":65px
);
