$orange:#e8441d;
$orange-bg:#be3413;
$white:#ffffff;
$gray:#f5f5f5;
$smokewhite:#fefefe;
$graytext:#ababc0;
$smokeblack:#1c1a1b;
$black:#000000;


$font-weights:(
  "regular":400,
  "medium":500,
  "bold":700
);

$font-size:(
  "xs":24px,
  "S":12px,
  "m":12px,
  "l":12px,
  "x-l":12px,
  "xxl":12px
);