@import './resets';
@import './variable';


@function weight($weight-name){
  @return map-get($font-weights, $weight-name )
}

@function font-size($font-size-value){
  @return map-get($font-size, $font-size-value)
}

@mixin flexcenter {
  display: flex;
  justify-content: center;
  align-items:center;
}

body{
  margin:0;
  padding:0;
  display:flex;
  flex-direction: column;
}
header,main,section,footer{
  margin:0;
  padding:0;
}
.hero{
  width:100%;
  height:100vh;
  min-width: 100%;
  min-height: 100%;
  background-image: url("../../selectedImages/final.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.navigation-wrapper{
  width:100%;
  height:100px;
  line-height:1.8;
}
